<h1><%= title %>: <%= category.name %></h1>
<p><%= category.description %></p>
<p>Do you really want to delete this category?</p>
<form action="" method="post">
    <div class="form-group">
        <input type="hidden" id="categoryid" class="form-control" name="categoryid" value=<%= category._id %>>
    </div>
    <button class="btn btn-primary" type="submit">Delete</button>
</form>

